@font-face {
    font-family: OswaldRegular;
    src: url(./fonts/oswald/Oswald-Regular.ttf)
}
@font-face {
    font-family: OswaldMedium;
    src: url(./fonts/oswald/Oswald-Medium.ttf)
}
@font-face {
    font-family: OpenSans;
    src: url(./fonts/opensans/opensans.ttf)
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #DDC;
}
.container {
    width: 480px;
    padding: 10px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
}

.current-score, .best-score {
    margin-left: 20px;
    float: right;
}

.btn, .current-score, .best-score {
    background-color: #bbada0;
    font-family: OswaldMedium;
    color: #EFF;
    font-size: 18px;
    padding: 16px 24px;
    border-radius: 4px;
}

.row:not(:last-child) {
    margin-bottom: 20px;
}

.row div{
    display: inline-block;
}
.game-box {
    width: 480px;
    height: 480px;
    border-radius: 4px;
    background-color: #BBADA0;
    position: relative;
}

.base-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 16px -4px -4px 16px;
    border-radius: 6px;
    background-color: #CDC1B4;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.upper-box {
    position: absolute;
    z-index: 2;
    border-radius: 4px;
    content: "";
    
    /* must be deleted */
    background-color: indianred;
    color: white; 
    
    font-family: OpenSans;
    text-align: center;
    line-height: 100px;
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    
    -webkit-transition: transform 0.15s ease-in;
    -moz-transition: transform 0.15s ease-in;
    transition: transform 0.15s ease-in;
}