@font-face {
    font-family: OswaldRegular;
    src: url(./fonts/oswald/Oswald-Regular.ttf)
}
@font-face {
    font-family: OswaldMedium;
    src: url(./fonts/oswald/Oswald-Medium.ttf)
}
@font-face {
    font-family: OpenSans;
    src: url(./fonts/opensans/opensans.ttf)
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #DDC;
}
.container {
    width: 480px;
    padding: 10px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
}

.current-score, .best-score {
    margin-left: 20px;
    float: right;
}

.btn, .current-score, .best-score {
    
    font-family: OswaldMedium;
    color: #EFF;
    font-size: 18px;
    padding: 16px 24px;
    border-radius: 4px;
}

.btn {
    background-color: #996c60;
}

.current-score, .best-score {
    background-color: #bbada0;
}

.row:not(:last-child) {
    margin-bottom: 20px;
}

.row div{
    display: inline-block;
}
.game-box {
    width: 480px;
    height: 480px;
    border-radius: 4px;
    background-color: #BBADA0;
    position: relative;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.base-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 16px -4px -4px 16px;
    border-radius: 6px;
    background-color: #CDC1B4;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.upper-box {
    position: absolute;
    z-index: 2;
    border-radius: 4px;
    content: "";
    
    font-family: OpenSans;
    text-align: center;
    line-height: 100px;
    
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.loss-box {
    position: absolute; 
    top: 0;
    width: 100%; 
    height: 100%; 
    z-index: 3; 
    opacity: 0;
    background-color: #bbada0;
    font-size: 36px;
    font-family: OswaldMedium;   
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s; 
}

.loss-box span {
    position: absolute;
    width: 200px;
    top: 45%;
    left: 140px;
    text-align: center;
}


.footer::before {
    content: "2048 ";
    text-align: center;
    font-size: 36px;
    font-family: OswaldMedium;
    margin-top: 20px;
    color: #995240;
}
.footer {
    text-align: center;
    font-size: 24px;
    font-family: OswaldRegular;
    color: #995240;    
}
.footer a {
    color: #995240;    
    
}